.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: rem(100px);
    width: 100vw;
    background-color: #8877AD;
    z-index: 100;
    .spacex_logo {
        height: rem(40px);
    }

    @include for-wide-layout {
        .spacex_logo {
            max-width: 50vw;
            height: rem(100px);
        }
    }
}
