.victory-container{
    height: 100%;
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: black;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: rem(50px)
}